/*头部固定栏模块*/
.form_title_ul{
	list-style: none;
	margin-top: 20px;
}
.form_title_ul li:nth-of-type(1){
	margin-left: 0;
}
.form_title_ul li.active{
	color: #666;
	border-bottom: 2px solid #289BF0;
}
.form_title_ul li{
	float: left;
	cursor: pointer;
	margin-left: 2rem;
	display: block;
	color: #999;
	height: 33px;
}

/*内容模块*/
.form_content{
	width: 100%;
	min-width: 1138px;
	overflow-x: hidden;
	/*margin-top: 53px;*/
	padding-left: 38px;
}
.form_content_l{
	padding-top: 20px;
	
	width: calc(100% - 260px);
	float: left;
}
.form_content_r{
	padding-top: 0px;
	min-width: 260px;
	float: right;
	min-height: 600px;
	border-left: 1px solid #dbdbdb;
}
/*左边栏*/
.form_content_l_title{
	width: 100%;
	float: left;
}
.form_content_l_title_l{
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
	float: left;
	border: 1px dashed #ddd;
}
.form_content_l_title_l span,.form_content_l_title_r span{
	color: #666;
}
.form_content_l_title_l select{
	width: 130px;
	height: 30px;
	outline: none;
	border-color: #dbdbdb;
	border-radius: 5px;
}
.form_content_l_title_r select{
	width: 130px;
	height: 30px;
	outline: none;
	border-color: #dbdbdb;
	border-radius: 5px;
}
.form_content_l_title_r{
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
	float: left;
	border: 1px dashed #ddd;
}
/*左边栏类型选择*/
.form_content_l_content{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.form_content_l_content_t{
	width: 100%;
}
.form_content_l_content_t span{
	padding-right: 20px;
	color: #666;
}
.form_content_l_content_t button{
	background: #289bf0!important;
	border: 0px;
	outline: none!important;
}
.form_content_l_content_t button i{
	padding-right: 10px;
	float: left;
	margin-top: -3px;
}
/*表格*/
.form_content_l_content_c{
	width: 100%;
	margin-top: 16px;
}
.form_content_add{
	position: absolute;
	right: 20px;
}
.form_content_l_content_c tr td{
	width: 200px!important;
}
/*右边栏*/
.form_content_r_title{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
}
.form_content_r_title span{
	float: left;
}
.form_content_r_title button{
	float: right;
	margin-top: 3px;
	outline: none!important;
	text-decoration: none!important;
}
.form_content_r_title button .trash_form{
	padding-right: 3px;
	margin-top: 1px;
}
.form_content_r_title button .copy_form{
	padding-right: 3px;
	margin-top: -6px;
}
.form_content_r_title button:nth-of-type(1){
	margin-right: 5px;
	color: #ff662b;
}
.form_content_r_title button:nth-of-type(2){
	margin-right: -3px;
	color: #289bf0;
}
.form_content_r_content{
	width: 100%;
}
.form_content_r_content_p{
	width: 220px;
	text-align: left;
	padding-top: 28px;
	margin: 0 auto;
	color: #999;
	font-size: 12px;
}
.form_content_r_content_p h5{
	text-align: left;
	color: #333;
	font-size: 13px;
	margin-top: 0px;
	padding-bottom: 15px;
}
.form_content_r_content_p label{
	font-size: 12px;
	font-weight: 400;
	color: #666!important;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}
.form_content_r_content_p .as-cd{
	padding: 2px 0;
	font-size: 12px;
}
.form_content_r_content_p .as-cd input{
	vertical-align: sub;
}
.form_content_r_content_p .as-cd label{
	margin-right: 10px;
}
.form_content_r_content_p .itittle{
	margin-top: 20px;
}
.form_content_r_content_p .as-cd .as-select-item {
	margin-bottom: 10px;
}
.form_content_r_content_p .apl-item-input{
	display: inline-block;
	width: 100px;
	font-size: 12px;
}
.form_content_r_content_p .textview-input {
	height: 180px;
}
.form_content_r_content_p .asi-icon {
	display: inline-block;
	height: 14px;
	width: 14px;
	position: relative;
	top: 2px;
	margin-left: 5px;
	cursor: pointer;
}
.form_content_r_content_p .as-cd-exp {
	position: relative;
	padding: 0;
}
.form_content_r_content_p .as-cd-exp span.ace-icon {
	position: absolute;
	color: #666;
	font-size: 14px;
	top: 5px;
	left: 8px;
	z-index: 100;
}
.form_content_r_content_p .as-cd-exp .as-exp-warn {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
}
.wbg-txt.orange {
	color: #ff662b!important;
}
.form_content_r_content_p .as-cd-exp input {
	width: 162px;
	padding-left: 38px;
}

.form_content_r_content_p .as-cd-exp button {
	float: right;
	width: 50px;
	padding: 0 10px;
}
.form_content_r_content_p .asi-icon.asi-add {
	background: url(../img/additem.png) center/14px 14px no-repeat;
}
.form_content_r_content_p .asi-icon.asi-delete {
	background: url(../img/deleteitem.png) center/14px 14px no-repeat;
}
.form_content_r_content_c{
	width: 100%;
	display: none;
}
.form_content_r_content_c_t{
	width: 100%;
	padding: 20px;
	padding-bottom: 0px;
}
.form_content_r_content_c_c{
	width: 100%;
	padding-left: 20px;
	padding-top: 3px;
	padding-right: 20px;
}
.form_content_r_content_c_c h5{
	color: #666;
	font-size: 12px;
}
.form_content_r_content_c_c input[type="text"]{
	width: 100%;
	border: 1px solid #dbdbdb;
	padding: 6px 10px;
	outline: none;
	border-radius: 5px;
}
.form_content_r_content_c_c input[type="checkbox"]{
	float: left;
}
.form_content_r_content_c_c span{
	padding-left: 5px;
	font-size: 12px;
	float: left;
	padding-top: 3px;
}

/*背景层*/
.form_fix_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 0.2;
	z-index: 1031;
	display: none;
}
.form_pop{
	position: fixed;
	width: 500px;
	right: -500px;
	top: 0px;
	height: 100%;
	background: #fff;
	z-index: 1032;
}
.form_pop_t{
	width: 100%;
	height: 54px;
	line-height: 54px;
	border-bottom: 1px solid #dbdbdb;
	padding: 0 26px 0 28px;
}
.form_pop_t button{
	float: right;
	background: #fff;
	margin-top: 5px;
	outline: none!important;
}
.form_pop_c{
	width: 100%;
	padding: 22px 26px 0 28px;
}
.form_pop_c select{
	width: 280px;
	height: 36px;
	border-color: #dbdbdb;
	border-radius: 5px;
}
.form_pop_c .text-muted span{
	font-weight: normal;
	font-size: 12px;
	padding-left: 10px;
}
.form_pop_c .text-muted{
	margin-top: 5px;
}
.form_pop_c .col-sm-8 input{
	width: 280px;
	height: 36px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}
.form_pop_c_b{
	float: right;
	padding-left: 25px;
	padding-right: 25px;
	margin-right: 10px;
	margin-top: 20px;
	outline: none!important;
}


/*首页流程*/
.index_flow .row{
	width: 100%;
	margin-left: 0px;
	margin-top: 20px;
}
.index_flow .row .panel{
	margin-bottom: 20px;
}
.index_flow .row .panel .panel-heading{
	cursor: pointer;
}
.index_flow .row .panel .panel-heading .iconfont {
	float: right;
}